<div class="container mgt-1 mgb-1">
    <h3 id="labelStockTitle" class="pull-left"></h3>
    <div class="pull-right col-md-3 col-sm-5 col-xs-12">
        <div class="input-group">
            <input id="txtCode" type="text" class="form-control" placeholder="股票代码">
            <span class="input-group-btn">
                <button id="btnRzrqQuery" class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>

<div class="">
    <div class="col-sm-12 chart-container">
        <div id="chartRzyeLine" class="chart"></div>
    </div>
    <div class="col-sm-12 chart-container">
        <div id="chartRzyeBar" class="chart"></div>
    </div>

    <div class="col-sm-12 chart-container">
        <div id="chartRzmreLine" class="chart"></div>
    </div>
    <div class="col-sm-12 chart-container">
        <div id="chartRzmreBar" class="chart"></div>
    </div>

    <div class="col-sm-12 chart-container">
        <div id="chartRqyeLine" class="chart"></div>
    </div>
    <div class="col-sm-12 chart-container">
        <div id="chartRqyeBar" class="chart"></div>
    </div>

</div>
