<div class="container mgt-1 mgb-1">
    <div class="pull-left col-md-9 col-sm-7 col-xm-12">
        <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="optionsSum" value="sm" checked="checked">两市合计
        </label>
        <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="optionsSH" value="sh">沪市
        </label>
        <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="optionsSZ" value="sz">深市
        </label>

    </div>
    <div class="pull-right col-md-3 col-sm-5 col-xm-12">
        <div class="input-group">
            <input id="txtCode" type="text" class="form-control" placeholder="股票代码">
            <span class="input-group-btn">
                <button id="btnRzrqQuery" class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
    </div>

</div>
<div class="">
    <div class="col-sm-12 chart-container">
        <div id="chartRzyeLine" class="chart"></div>
    </div>
    <div class="col-sm-12 chart-container">
        <div id="chartRzyeBar" class="chart"></div>
    </div>

    <div class="col-sm-12 chart-container">
        <div id="chartRzmreLine" class="chart"></div>
    </div>
    <div class="col-sm-12 chart-container">
        <div id="chartRzmreBar" class="chart"></div>
    </div>

    <div class="col-sm-12 chart-container">
        <div id="chartRqylyeLine" class="chart"></div>
    </div>
    <div class="col-sm-12 chart-container">
        <div id="chartRqylyeBar" class="chart"></div>
    </div>
</div>

<div class="container">
    数据来源：<a href="http://data.eastmoney.com/rzrq/total.html" target="_blank">http://data.eastmoney.com/rzrq/total.html</a>
</div>
