@import "../../../../../datepicker.css";
html,
body {
  height: 100%;
  font-family: 'Times New Roman', Times, "Microsoft YaHei", STXihei, serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Times New Roman', Times, "Microsoft YaHei", STXihei, serif;
}
.relative {
  position: relative;
}
a,
.btn {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
}
.font-red {
  color: red;
}
.pd-1 {
  padding: 1rem!important;
}
.pd-2 {
  padding: 2rem!important;
}
.pdt-1 {
  padding-top: 1rem!important;
}
.pdt-2 {
  padding-top: 2rem!important;
}
.pdl-1 {
  padding-left: 1rem!important;
}
.pdl-2 {
  padding-left: 2rem!important;
}
.pdr-1 {
  padding-right: 1rem!important;
}
.pdr-2 {
  padding-right: 2rem!important;
}
.pdb-1 {
  padding-bottom: 1rem!important;
}
.pdb-2 {
  padding-bottom: 2rem!important;
}
.mgl-1 {
  margin-left: 1rem!important;
}
.mgl-2 {
  margin-left: 2rem!important;
}
.mgr-1 {
  margin-right: 1rem!important;
}
.mgr-2 {
  margin-right: 2rem!important;
}
.mgt-1 {
  margin-top: 1rem!important;
}
.mgt-2 {
  margin-top: 2rem!important;
}
.mgt-3 {
  margin-top: 3rem!important;
}
.mgt-5 {
  margin-top: 5rem!important;
}
.mgb-1 {
  margin-bottom: 1rem!important;
}
.mgb-2 {
  margin-bottom: 2rem!important;
}
.mgb-3 {
  margin-bottom: 3rem!important;
}
.mgb-5 {
  margin-bottom: 5rem!important;
}
.mgt-0 {
  margin-top: 0!important;
}
.mgb-0 {
  margin-bottom: 0!important;
}
.datepicker .fa-calendar {
  position: relative;
  top: 0px;
  left: -102px;
  color: #428bca;
}
.datepicker input.form-control {
  width: 110px;
  padding-left: 25px;
  padding-right: 5px;
  display: inline-block;
}
.datepicker.form-group > label {
  display: block;
  padding-bottom: 5px;
}
.datepicker select.form-control {
  width: 50px;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 5px;
  text-align: right;
  display: inline-block;
}
.datepicker select.form-control.cmbmin {
  margin-left: 5px;
}
.datepicker.form-group.inline {
  margin-right: auto;
  margin-left: auto;
}
.btn-cursor {
  cursor: pointer;
}
.line {
  border-top: 1px solid #dedede;
  margin: 10px auto;
}
.dotted {
  border-top: 1px dotted #dedede;
  margin: 10px auto;
}
.dashed {
  border-top: 1px dashed #dedede;
  margin: 10px auto;
}
.div-at-right {
  position: absolute;
  top: 5px;
  right: 10px;
}
.div-at-bottom {
  position: absolute;
  bottom: 0;
}
.title {
  overflow-wrap: break-word;
}
#form-signin {
  max-width: 360px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
