<div class="container">
    <div id="form-signin">
        <h3>ONQEE.COM</h3>
        <div class="line"></div>
        <div class="form-group">
          <label for="inputNick">用户名</label>
          <input type="text" id="inputNick" value="luhan" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword">登录密码</label>
          <input type="password" id="inputPassword" value="" class="form-control" required>
        </div>
        <div class="form-group">
          <button id="btn-login" class="btn btn-primary btn-block" type="submit">登录</button>
        </div>
    </div>

</div>
